
*{
    background-color: darkgrey;
}
body{  
    font-family: 'Josefin Slab', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
.top-main{
    height: 250px;
    text-align: center;
    background-color:darkgrey;
    font-size: 60px;
}
/* .nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li{
    display: inline;
    padding: 0;
    margin: 0;
}
.nav li a{
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    width: 150px;
    margin: 2px 0px;
    text-align: center;
} */
/* .nav li a:hover{
    background-color: darkgrey;
    color: beige;
} */

.comment{
    text-align: center;
    color: white;
}


.main{
    flex: 1;
    text-align: center;
    background-color: darkgrey;
     margin: 10px 0 10px 0; 
    display: flex;
    padding-bottom: 100px;
}

.middle{
    width: 100%;
}


.left{
    overflow: hidden;
    margin: 0;
    position: relative;
    /* text-align: center;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden; */
}



.center{
    overflow: hidden;
    margin: 0;
    position: relative;
    /* text-align: center;
    padding: 30px; */
}
.center p{
    text-align: left;
}


.right{
    overflow: hidden;
    margin: 0;
    position: relative;
    /* text-align: center;
    padding: 30px; */
}
.right p{
    text-align: left;
}

.nav{
   height: 70px;
   text-align: center;
   font-size: 30px;
}
.nav ul{
    margin: 0;
    padding: 0;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 80px;
}
.nav ul li a{
   text-decoration: none;
   color: white;
}
.nav li a:hover{
    
}
.footer{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color:darkgrey;
    color: white;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
}